* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



.navbar {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    background-size: cover;
    background-color: rgb(255, 99, 71, 0.9);
    width: 600vh;
    padding: 10px 20px;
}

.want {
    background-image: url(https://frank-ventures.github.io/basic-website/assets/tomatoes01.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;}

.timer {
    background-image:url(https://frank-ventures.github.io/basic-website/assets/tomatotimer01.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.show {
    background-image:url(https://frank-ventures.github.io/basic-website/assets/tomatotimer01.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.cta {
  border: 2px solid rgb(248, 245, 245);
  padding: 20px;
  width: 300px;
  background-color:rgba(244, 239, 239, 0.8);
  position: absolute;      
  bottom: 0;               
  left: 0;         
}

.footer{
    background-color: rgb(255, 99, 71, 0.9);
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}